    /*
    Flaticon icon font: Flaticon
    Creation date: 14/03/2017 09:54
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-24-hours:before { content: "\f100"; }
.flaticon-basketball:before { content: "\f101"; }
.flaticon-book:before { content: "\f102"; }
.flaticon-buy:before { content: "\f103"; }
.flaticon-calculator:before { content: "\f104"; }
.flaticon-calendar:before { content: "\f105"; }
.flaticon-cash:before { content: "\f106"; }
.flaticon-chat:before { content: "\f107"; }
.flaticon-checked:before { content: "\f108"; }
.flaticon-close:before { content: "\f109"; }
.flaticon-courier:before { content: "\f10a"; }
.flaticon-credit-card:before { content: "\f10b"; }
.flaticon-currency:before { content: "\f10c"; }
.flaticon-delivery-truck:before { content: "\f10d"; }
.flaticon-discount:before { content: "\f10e"; }
.flaticon-discount-1:before { content: "\f10f"; }
.flaticon-dislike:before { content: "\f110"; }
.flaticon-dress:before { content: "\f111"; }
.flaticon-favourite:before { content: "\f112"; }
.flaticon-garbage:before { content: "\f113"; }
.flaticon-gift:before { content: "\f114"; }
.flaticon-guitar:before { content: "\f115"; }
.flaticon-high-heels:before { content: "\f116"; }
.flaticon-like:before { content: "\f117"; }
.flaticon-medal:before { content: "\f118"; }
.flaticon-message:before { content: "\f119"; }
.flaticon-notification:before { content: "\f11a"; }
.flaticon-online-shop:before { content: "\f11b"; }
.flaticon-online-shop-1:before { content: "\f11c"; }
.flaticon-open:before { content: "\f11d"; }
.flaticon-package:before { content: "\f11e"; }
.flaticon-photo-camera:before { content: "\f11f"; }
.flaticon-piggy-bank:before { content: "\f120"; }
.flaticon-placeholder:before { content: "\f121"; }
.flaticon-placeholder-1:before { content: "\f122"; }
.flaticon-price-tag:before { content: "\f123"; }
.flaticon-purse:before { content: "\f124"; }
.flaticon-qr-code:before { content: "\f125"; }
.flaticon-search:before { content: "\f126"; }
.flaticon-shield:before { content: "\f127"; }
.flaticon-shirt:before { content: "\f128"; }
.flaticon-shop:before { content: "\f129"; }
.flaticon-shopping-bag:before { content: "\f12a"; }
.flaticon-shopping-basket:before { content: "\f12b"; }
.flaticon-shopping-cart:before { content: "\f12c"; }
.flaticon-shopping-cart-1:before { content: "\f12d"; }
.flaticon-support:before { content: "\f12e"; }
.flaticon-table:before { content: "\f12f"; }
.flaticon-trolley:before { content: "\f130"; }
.flaticon-wallet:before { content: "\f131"; }
    
    $font-Flaticon-24-hours: "\f100";
    $font-Flaticon-basketball: "\f101";
    $font-Flaticon-book: "\f102";
    $font-Flaticon-buy: "\f103";
    $font-Flaticon-calculator: "\f104";
    $font-Flaticon-calendar: "\f105";
    $font-Flaticon-cash: "\f106";
    $font-Flaticon-chat: "\f107";
    $font-Flaticon-checked: "\f108";
    $font-Flaticon-close: "\f109";
    $font-Flaticon-courier: "\f10a";
    $font-Flaticon-credit-card: "\f10b";
    $font-Flaticon-currency: "\f10c";
    $font-Flaticon-delivery-truck: "\f10d";
    $font-Flaticon-discount: "\f10e";
    $font-Flaticon-discount-1: "\f10f";
    $font-Flaticon-dislike: "\f110";
    $font-Flaticon-dress: "\f111";
    $font-Flaticon-favourite: "\f112";
    $font-Flaticon-garbage: "\f113";
    $font-Flaticon-gift: "\f114";
    $font-Flaticon-guitar: "\f115";
    $font-Flaticon-high-heels: "\f116";
    $font-Flaticon-like: "\f117";
    $font-Flaticon-medal: "\f118";
    $font-Flaticon-message: "\f119";
    $font-Flaticon-notification: "\f11a";
    $font-Flaticon-online-shop: "\f11b";
    $font-Flaticon-online-shop-1: "\f11c";
    $font-Flaticon-open: "\f11d";
    $font-Flaticon-package: "\f11e";
    $font-Flaticon-photo-camera: "\f11f";
    $font-Flaticon-piggy-bank: "\f120";
    $font-Flaticon-placeholder: "\f121";
    $font-Flaticon-placeholder-1: "\f122";
    $font-Flaticon-price-tag: "\f123";
    $font-Flaticon-purse: "\f124";
    $font-Flaticon-qr-code: "\f125";
    $font-Flaticon-search: "\f126";
    $font-Flaticon-shield: "\f127";
    $font-Flaticon-shirt: "\f128";
    $font-Flaticon-shop: "\f129";
    $font-Flaticon-shopping-bag: "\f12a";
    $font-Flaticon-shopping-basket: "\f12b";
    $font-Flaticon-shopping-cart: "\f12c";
    $font-Flaticon-shopping-cart-1: "\f12d";
    $font-Flaticon-support: "\f12e";
    $font-Flaticon-table: "\f12f";
    $font-Flaticon-trolley: "\f130";
    $font-Flaticon-wallet: "\f131";