	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/03/2017 09:54
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-24-hours:before { content: "\f100"; }
.flaticon-basketball:before { content: "\f101"; }
.flaticon-book:before { content: "\f102"; }
.flaticon-buy:before { content: "\f103"; }
.flaticon-calculator:before { content: "\f104"; }
.flaticon-calendar:before { content: "\f105"; }
.flaticon-cash:before { content: "\f106"; }
.flaticon-chat:before { content: "\f107"; }
.flaticon-checked:before { content: "\f108"; }
.flaticon-close:before { content: "\f109"; }
.flaticon-courier:before { content: "\f10a"; }
.flaticon-credit-card:before { content: "\f10b"; }
.flaticon-currency:before { content: "\f10c"; }
.flaticon-delivery-truck:before { content: "\f10d"; }
.flaticon-discount:before { content: "\f10e"; }
.flaticon-discount-1:before { content: "\f10f"; }
.flaticon-dislike:before { content: "\f110"; }
.flaticon-dress:before { content: "\f111"; }
.flaticon-favourite:before { content: "\f112"; }
.flaticon-garbage:before { content: "\f113"; }
.flaticon-gift:before { content: "\f114"; }
.flaticon-guitar:before { content: "\f115"; }
.flaticon-high-heels:before { content: "\f116"; }
.flaticon-like:before { content: "\f117"; }
.flaticon-medal:before { content: "\f118"; }
.flaticon-message:before { content: "\f119"; }
.flaticon-notification:before { content: "\f11a"; }
.flaticon-online-shop:before { content: "\f11b"; }
.flaticon-online-shop-1:before { content: "\f11c"; }
.flaticon-open:before { content: "\f11d"; }
.flaticon-package:before { content: "\f11e"; }
.flaticon-photo-camera:before { content: "\f11f"; }
.flaticon-piggy-bank:before { content: "\f120"; }
.flaticon-placeholder:before { content: "\f121"; }
.flaticon-placeholder-1:before { content: "\f122"; }
.flaticon-price-tag:before { content: "\f123"; }
.flaticon-purse:before { content: "\f124"; }
.flaticon-qr-code:before { content: "\f125"; }
.flaticon-search:before { content: "\f126"; }
.flaticon-shield:before { content: "\f127"; }
.flaticon-shirt:before { content: "\f128"; }
.flaticon-shop:before { content: "\f129"; }
.flaticon-shopping-bag:before { content: "\f12a"; }
.flaticon-shopping-basket:before { content: "\f12b"; }
.flaticon-shopping-cart:before { content: "\f12c"; }
.flaticon-shopping-cart-1:before { content: "\f12d"; }
.flaticon-support:before { content: "\f12e"; }
.flaticon-table:before { content: "\f12f"; }
.flaticon-trolley:before { content: "\f130"; }
.flaticon-wallet:before { content: "\f131"; }