@import "../../config/styles"

.boxes
  position: fixed
  left: 4px
  top: 4px
  &:hover
    transform: scale(3) translate(33%, 33%)

  > div
    width: 8px
    height: 8px
    float: left
    &:nth-child(1)
      background-color: $base
    &:nth-child(2)
      background-color: $complement1
    &:nth-child(3)
      background-color: $complement2
    &:nth-child(4)
      background-color: $darken1
    &:nth-child(5)
      background-color: $darken2
    &:nth-child(6)
      background-color: $lighten1
    &:nth-child(7)
      background-color: $lighten2