@import "../../config/styles"

#content
  +attributeUnits(margin, 1)
  h1, h2, h3, h4, h5, h6, p
    margin-top: -.25em
    color: $base
  h1
    font-weight: 200
    font-size: 48px
  h2
    font-weight: 200
    font-size: 36px
  h3
    font-weight: 300
    font-size: 28px
  h4
    font-weight: 400
    font-size: 20px
  p
    font-weight: 500
    font-size: 14px
    color: $darken1
    b
      font-weight: 800