@import "../../config/styles"

#header
  display: flex
  +respond-to(desktop)
    height: 4*$unit
  +respond-to(mobile)
    height: 3*$unit
  padding: 0 10px
  background-color: $base
  align-items: center
  .title
    color: rgb(255, 255, 255)
    font-weight: 900
    +respond-to(desktop)
      font-size: 36px
    +respond-to(mobile)
      font-size: 24px
    span
      margin-left: 8px
      font-style: italic
      font-weight: 100
      font-size: 24px
  .session-container
    text-align: right
    flex-grow: 1

