@import "../../config/styles"

#menu
  p
    +attributeUnits(margin-bottom, 1)
    color: $base
    cursor: pointer
    &:before
      +attributeUnits(font-size, 3)
    &:hover
      color: $darken1
    &:active
      color: $lighten1