$base: #a15ccc
$complement1: adjust_hue($base, 60deg)
$complement2: adjust_hue($base, -60deg)
$lighten1: lighten($base, 15%)
$lighten2: lighten($base, 25%)
$darken1: darken($base, 15%)
$darken2: darken($base, 25%)

$unit: 16px

$mobile: "@media (max-width: 768px)"
$desktop: "@media (min-width: 769px)"

=respond-to($media)
  @if $media == mobile
    @media only screen and (max-width: 768px)
      @content
  @else if $media == desktop
    @media only screen and (min-width: 769px)
      @content


=horizontalFlex
  display: flex
  flex-direction: row

=verticalFlex
  display: flex
  flex-direction: column

=attributeUnits($attribute, $units)
  +respond-to(mobile)
    #{$attribute}: $units*$unit/2
  +respond-to(desktop)
    #{$attribute}: $units*$unit

=horizontalFlexSpaced
  +horizontalFlex
  & > *
    +attributeUnits(margin-left, 1)
    &:first-child
      margin-left: 0px





