@import "../config/styles"

#container
  +verticalFlex
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  > #header
    flex: 0 0 auto // grow + shrink + base
  > #content
    +horizontalFlexSpaced
    flex: 1 1 auto
    overflow: hidden
    > #menu
      +verticalFlex
      flex: 0 0 auto
      overflow: hidden auto
    > #section
      flex: 1 1 auto
      overflow: auto





.hide-on-mobile
  +respond-to(mobile)
    display: none !important