#home
  overflow: auto

#ship-without-hassle
  background-image: url("../../assets/algo.svg")
  background-size: contain
  height: calc(100vw * 516 / 1440)
  display: flex
  flex-direction: row
  align-items: center
  h1
    text-align: center
    color: white
    flex-grow: 1
    font-weight: lighter
    font-size: 96px
    @media (max-width: 1000px)
      font-size: 48px
