@import "../../config/styles"

.section-shipping
  flex-grow: 1
  +verticalFlex
  > .top
    +horizontalFlexSpaced
    flex-grow: 0
    flex-shrink: 0
    +attributeUnits(margin-bottom, 1)
  > .table
    flex-grow: 1
    overflow: auto

