@import "~antd/dist/antd.less"; // import official less entry file

@base: #a15ccc;
@complement1: spin(@base, 60);
@complement2: spin(@base, -60);
@lighten1: lighten(@base, 15%);
@lighten2: lighten(@base, 25%);
@darken1: darken(@base, 15%);
@darken2: darken(@base, 25%);

@primary-color: @base;
@info-color: @base;
@success-color: @darken1;
@processing-color: @base;
@error-color: @complement2;
@highlight-color: @complement2;
@warning-color: @complement1;
@normal-color: @base;

@avatar-bg: @darken1;

@border-width-base      : 2px;
@font-family-no-number  : Roboto, sans-serif;

@box-shadow-base : 0;

@tooltip-bg: white;
@tooltip-color: @base;
@tooltip-arrow-color: @base;
.ant-tooltip-inner {
  border-width: 2px;
  border-style: solid;
}

@btn-font-size-sm: @font-size-sm ;

@border-radius-base: 8px;
@border-radius-sm: @border-radius-base / 2;
@btn-font-weight: 700;

.ant-btn {
  line-height: 1.3;
}

.ant-btn-group > .ant-btn{
  line-height: 22px;
}